.paper-block{
	width:100%;
	height:auto;
	position: relative;
	margin-bottom: 0.5em;
    padding-top: 1em;
	display: flex;
	align-items: flex-start;  /* 垂直对齐方式，确保两个元素对齐 */
	flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);  /* 添加阴影 */
}
.paper-left{
	width: 4em;
	height: 75px;
	display: inline-block;
    padding-left: 1em;
    justify-content: center;  
    align-items: center;  
}
.paper-right{
	margin-left: 2em;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;   
}
.paper-right-content{
    height: 75px;
    display: flex;
    text-align: left;
    justify-content: center;  
    align-items: center;      
    font-size: 16px; 
    font-weight: 700; 
    color: #1771d0;
}
.highlight {
    font-weight: bold;      /* 加粗 */
    font-size: 1.2em;       /* 字体变大，可以调整具体大小 */
    color: red;             /* 设置字体颜色为红色 */
}