.paper-block{
	width:100%;
	height:auto;
	position: relative;
	display: flex;
	align-items: flex-start;  /* 垂直对齐方式，确保两个元素对齐 */
	flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);  /* 添加阴影 */
    border-left: 2px solid #00BFFF;
    margin: 15px 0; /* 增加上下间距 */
    padding: 10px; /* 内边距增加，内容更舒展 */
}
.paper-left{
	width: 4em;
	height: auto;
	display: flex;
    padding-left: 1em;
    justify-content: center;  
    align-items: center;  
    margin-top: 20px;
}
.paper-right{
	margin-left: 2em;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    width: 90%;   
}
.paper-right-content{
    height: auto;
    flex-wrap: wrap; /* 确保内容超出时换行 */
    text-align: left;
    justify-content: center;  
    margin-top: 10px;
    align-items: center;      
    font-size: 16px; 
    font-weight: 700; 
    color: #000000;
    width: 85%;
    overflow: hidden;
}
.highlight {
       /* 加粗 */
    font-size: 16px;       /* 字体变大，可以调整具体大小 */
    color: black;             /* 设置字体颜色为红色 */
    width: 15%;
    text-align: center;
    padding-right: 4px;
    font-weight: bold;
}
.paper-title{
    color: red;   
    font-weight: bold;
    font-size: 18px;
}
.reward_box{
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);  /* 添加阴影 */
    border-left: 2px solid #00BFFF;
    flex-wrap: wrap;
    justify-content: space-between; /* 子元素之间均匀分布 */
    gap: 20px; /* 子元素之间的间距 */
    width: 100%;
}

.reward_box_left{
    flex: 0 0 calc(50% - 20px); /* 每行显示两个，减去间距 */
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.reward_box_image{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    overflow: hidden; /* 防止溢出 */
}
.reward_box_image img {
    max-width: 100%; /* 限制图片的最大宽度为父容器宽度 */
    max-height: 100%; /* 限制图片的最大高度为父容器高度 */
    width: auto; /* 按原比例缩放 */
    height: auto; /* 按原比例缩放 */
    object-fit: contain; /* 按原比例缩放，不裁剪 */
}
.reward_box_label{
    width: 100%;
    font-weight: 600;
    text-align: center;
}
.reward_box_right{
    width: 50%;
    height: 200px;
    margin: 10px 0px;
    padding: 10px 0px;
}