.box-pub {
    background: rgba(255,255,255);
    border-top: solid 1px  #ccc;
    border-left: solid 1px  #ccc;
    border-right: solid 1px  #ccc;
    border-bottom: solid 1px  #ccc;
    padding: 0em 1.75em 2.75em 1.75em;
    background:#f7f5ec;
    width: 100%;
}
#me {
    padding: 0;
    height: 25em;
}
/*#main > * {
    border-top: solid 2px #eeeeee;
    margin: 0;
}*/
/* line */
.line {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: solid 5px #f56a6a;
    padding: 1.5em 0 1em 0;
    position: relative; }
    .line > * {
      -moz-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 0; }
  
    @media screen and (max-width: 1680px) {
      .line {
        padding-top: 2em; } }
    @media screen and (max-width: 736px) {
      .line {
        padding-top: 2em; }
        .logo {
          font-size: 1.25em;
          margin: 0; }}

.line > p{
  font-size:30px;
    font-weight:500;
    line-height:1.1;
    color: #000
}
.line > p > strong{
  color: #f15a23
}
.panel {
/*    background-color: black;*/
    border: 1px solid transparent;
        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel {
     margin-left: -15px;
    margin-right: -15px;
    background-color: #f7f7f7;
}

#me header {
    margin-top:5em;
    margin-left: 3em;
    float:left;
}
#me > header > h1{
	font-size: 50px;
	font-weight: 500;
    line-height: 1.1;
}
#me header > p {
	margin: 0 0 10px;
    font-size: 1.5em;
    margin-top: 0;
    line-height: 2;
    font-weight: 500;
    font-style:  normal
}
#me .pic {
    text-decoration: none;
/*    display: inline-block;*/
    height: 100%;


/*    margin-left: -15px;*/
/*margin-right: -30px;*/
    /*margin: 0px -15px 0 -15px;*/
}
#me > a{
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
/*.box-people{
	margin-bottom: 5px; 
}*/
.section-title{
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top:50px;
	font-size: 1.5em; 
	font-weight: 200px;
	/*border-bottom:3px solid;
	border-image: -webkit-linear-gradient(to right,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff,#fff )10;
     border-image: -moz-linear-gradient(to right,#f15a23,#C0C0C0,#C0C0C0,#C0C0C0,#C0C0C0,#C0C0C0,#C0C0C0,#C0C0C0 )10;
     border-image: linear-gradient(to right,#f15a23,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5,#F5F5F5)10;*/
}
.section-title > p{
	font-size:25px;
    font-weight:500;
    margin-bottom: 0;
	
}
.section-title > p > strong{
	color: #f15a23;
}

.demo.container {
    width: 100%;
    padding: 0;

}
.demo.container {
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}
.demo.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.col-md-3 {
	margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: white;
    border-radius: 20px;
    border: solid 1px #ccc;
    padding-top: 0;
    width: 20.5em;
    float:left;
    position: relative;
    min-height: 1px;
    height:23em;
    overflow: hidden;

}
.col-md-4 {
    padding: 0;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: 14em;
    float:left;
    position: relative;
    min-height: 1px;
    height:26em;

}
.demo{
	margin-top:0px;
}
.our-team {
	height: 100%;
    padding: 20px 0 0px;
    background:     #FFF;
    /*border-radius: 20px;*/
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.our-team .pic {
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius:50%;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.our-team #pic1 > img{
    width: auto;
    height: 100%;
}
.our-team .pic > img{
	width:100%;
	height: 100%;
	/*border-radius: 50%;*/
}
.social > a{
	 text-decoration:none;
}
.our-team .team-content {
    margin-top: 10px;
    margin-bottom: 10px
}
.team-content-p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 14px;
}
.social{
	width: 100%;
	height: auto;
	padding: 0;
	position: absolute;
	opacity: 0;
	background: rgb(0,0,0,0.8);
    filter:Alpha(opacity=0);
    transition: opacity 1s;
	bottom: 0;

}
.social-student{
    height: 3em;
}
.social > a{
	margin-top:0;

}
.our-team:hover .social{
	cursor: pointer;
	display: block;
	align-items: center;
	opacity: 1;
   filter:Alpha(opacity=100);
   transition: opacity 1s;
}
.team-content .title{
	font-size: 300;
}
.people-list{
    width: 100%;
	/*height:50em;
	overflow-y:scroll;*/
    height: auto;
}
/*.scroll-people::-webkit-scrollbar {
  width: 2px;
  height: 6px;
  
}*/
 
/*/*定义滚动条轨道 内阴影+圆角*/
/*.scroll-people::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
  border-radius: 10px;
  
}*/
 
/*定义滑块 内阴影+圆角*/
/*.scroll-people::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
  
}*/
.fa-self{
    font-size: 12px;
    color:rgb(240,240,240);
    display: block;
    line-height: 2.5em;
    /*text-align: left;
    margin-left: 2em;*/
}
.social>a:hover{
    color: #d52349;
}
.jumplink > img{
    width:100%;
    height: 100%;
}
#row-self{
    margin:0px 0 0 0;
    width: 100%;
}
#main{
    padding: 2em 0 4em 0;
}
/*.row-self .col-8{
    background: rgb(255,255,255,0.4)
}*/
.row-people{
	width:100%; 
	padding-top: 20px 15px 0px 15px;
	margin:0;
	align-items: center;
	overflow: auto;
}
.panel-self > h3 > strong{
    color: #f15a23
}
.text-center{
    text-align: center;
}
#footer{
    margin-bottom: 0;
    background: white;
    padding:1em 0 1em 0;
}
#footer .text-center > a{
    color: #d52349;
}

.col-md-3-2{
    height: 20em;
}
.heading_border {
    border-left: 40px solid #f15a23;
    height: 2px;
    background-color: #efefef;
    margin: 7px 0 16px 0;
    width: 95%;
}

.card-head {
    text-align: center;
    padding: 5px;
    display: block;
    font-size: 18px;
    line-height: normal;
    font-weight: bold;
    height: 50px;
    color: #0078d7;
    padding-top: 20px;
    margin-top: 10px;
}
.card-tag{
	text-align: center;
    padding: 5px;
    display: block;
    font-size: 16px;
    line-height: normal;
    font-weight: bold;
    height: 30px;
    color: #000;
    padding-top: 10px;
    margin-top: 1em;
}
.card-body {
    margin-top: 20px;
    height: 14em;
}
.card-body img {
    /*border-radius: 5px;*/
    max-width: 100%;
   /* margin-left: -15px;
    margin-right: -15px;*/
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border: 0;
}

.col-sm-6 .item-content {
    font-size: .98em;
    line-height: 1.7em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.col-sm-6 .item-content {
    background-color: rgba(255,255,255,1);
    color: #000000;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 23em;
    left: 0;
}
.col-sm-6:hover .item-content{
	cursor: pointer;
    /*-webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    */
    transform:translateY(-23em);
    transition: all .4s linear;
}

.nav{
	margin-top: 20px;

}
.nav>li>a{
	text-decoration: none;
}
.nav>li{
	padding-left: 0;
}
.nav .active {
	border-left: 1px solid #ecebeb;
	border-top: 1px solid #ecebeb;
	border-right: 1px solid #ecebeb;
	border-radius: 5px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 0.5em 1em;
}
#about-xueshu, #about-life{
	display: none;
}
#header img{
    width:10em;
}


@media screen and (max-width: 980px) {
    .container {
                width: calc(100%);
            }

            .col-md-3 {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: white;
    border-radius: 20px;
    border: solid 1px #ccc;
    padding-top: 0;
    width: 23em;
    float:left;
    position: relative;
    min-height: 1px;
    height:23em;
    overflow: hidden;

}

        }
@media screen and (max-width: 736px) {
    .container {
                width: calc(100%);
            }

.col-md-3 {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background: white;
    border-radius: 20px;
    border: solid 1px #ccc;
    padding-top: 0;
    width: 23em;
    float:left;
    position: relative;
    min-height: 1px;
    height:23em;
    overflow: hidden;

}
.nav > li > a {
    position: relative;
    display: block;
    padding: 0.5em 0.5em;
}

        }