.paper-block{
	width:100%;
	height:auto;
	position: relative;
	margin-bottom: 0.5em;
	display: flex;
	align-items: flex-start;  /* 垂直对齐方式，确保两个元素对齐 */
	flex-direction: row;
    background-color: aliceblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* 添加阴影 */
}
.paper-left{
	width: 4em;
    align-items: flex-start;
	height: 75px;
	display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
}
.paper-right{
	margin-left: 2em;
	height: auto;
    margin-top: 1em;
}