.teacher_infomation{
    height: 200px;
    width: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    padding: 0px 20px;
    margin: 0px 20px;
}