.teacher_infomation{
    min-height: 260px;
    height: auto;
    width: 93%;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding: 0px 20px;
    margin: 5px 20px;
    border-top: 3px solid #2AA7DE;
    
}
.teacher_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 10px 20px;
    overflow: hidden
}
.teacher_photo img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    object-fit: contain; 
}
.teacher_info{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 10px 20px;
}
.teacher_info_name{
    color: black;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    font-family: cursive;
    line-height: 40px;
    height: 40px;
    padding-left: 20px;
    border-left: 3px solid #DC8870;
}

.teacher_info_title{
    color: #1661AB;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
    font-family: cursive,'Times New Roman', Times, serif;
    /* line-height: 40px;
    height: 40px; */
    padding-left: 24px;
}