.teacher_infomation{
    height: 280px;
    width: 93%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    padding: 0px 20px;
    margin: 5px 20px;
    
}
.teacher_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    margin: 10px 20px;
    overflow: hidden
}
.teacher_photo img {
    max-width: 100%; /* 限制图片的最大宽度为父容器宽度 */
    max-height: 100%; /* 限制图片的最大高度为父容器高度 */
    width: auto; /* 按原比例缩放 */
    height: auto; /* 按原比例缩放 */
    object-fit: contain; /* 按原比例缩放，不裁剪 */
}
.teacher_information{
    width: 80%;
    height: 100%;
    margin: 10px 20px;
}