  /* line */
.line {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border-bottom: solid 5px #f56a6a;
  padding: 3em 0 1em 0;
  position: relative; }
  .line > * {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0; }

  @media screen and (max-width: 1680px) {
    .line {
      padding-top: 2em; } }
  @media screen and (max-width: 736px) {
    .line {
      padding-top: 2em; }
      .logo {
        font-size: 1.25em;
        margin: 0; }}
.box {
    /* background: rgba(254,219,207,0.2); */
	background: #f7f5ec;
    border-bottom: solid 1px #ccc;
    padding: 0em 1.75em 2.75em 1.75em;
}

.line > p{
	font-size:30px;
    font-weight:500;
    line-height:1.1;
    color: #000
}
.line > p > strong{
	color: #f15a23
}
.box > header {
		margin: 1em 0 0em 0;
	}
.box > header > p {
			display: block;
			font-style: italic;
			margin: 0.5em 0 0 0;
			padding-bottom: 0.5em;
		}
.box > header > a{
	color:#CD5C5C;
	text-decoration: none;
}
.box > header > hr {
		border: 0;
		border-top: solid 1px #dddddd;
		height: 1px;
		margin: 0em 0 0.5em 0;
	}
.paper-left{
	width: 7%;
	float: left;
	height: 75px;
}
.paper-right{
	width: 93%;
	float: left;
	height: 75px;
}
.paper-right ul{
	margin-top: 5px;
    
}
.paper-right li{
	line-height:20px;
}
.paper-right p{
	font-size: 14px
}

.paper-section header{
	margin-top: 10px;
	margin-bottom: 5px;
}
.paper-block{
	width:100%;
	height:75px;
	margin-bottom: 5px;
}
.each-research1{
	padding-left: 20px;
	margin-top: 10px;
	border-left: 4px solid rgba(100,149,237,0.8);
	background: rgb(245,255,250,0.2);

}
.each-research1 > p{
	color:black;
	margin-bottom: 0px;
}
.each-research2{
	padding-left: 20px;
	margin-top: 10px;
	border-left: 4px solid rgba(148,0,211,0.6);
	background: rgb(245,255,250,0.4);

}
.each-research2 > p{
	color:black;
	margin-bottom: 0px;
}
 .each-research3{
	padding-left: 20px;
	margin-top: 10px;
	border-left: 4px solid rgba(34,139,34,0.6);
	background: rgb(245,255,250,0.4);

}
.each-research3 > p{
	color:black;
	margin-bottom: 0px;
}
.text-center{
    text-align: center;
}
#footer{
    margin-bottom: 0;
    background: white;
    padding:1em 0 1em 0;
}
#footer .text-center > a{
    color: #d52349;
}

.row{
	margin-left: 0px;
}
.each-teacher2{
	margin-top: 2em;
}
 .each-research4{
	padding-left: 20px;
	margin-top: 10px;
	border-left: 4px solid rgba(184,134,11,0.6);
	background: rgb(245,255,250,0.4);

}
.each-research4 > p{
	color:black;
	margin-bottom: 0px;
}

#main{
  padding-bottom: 2em;
  padding-top: 2em;
}
.row{
	margin-top: 0;
}
.box{
	border: 1px solid #dddddd;
  }
  #header img{
    width:10em;
}